body {
  background-color: #362217 !important;
  color: white !important;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

#navbar-text li {
  list-style-type: none;
  padding: 2rem;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}